<?xml version="1.0"?>
<config>
    <modules>
        <Redkiwi_Rkvatfallback>
            <version>0.1.0</version>
        </Redkiwi_Rkvatfallback>
    </modules>
	
    <global>
        <helpers>
            <rkvatfallback>
                <class>Redkiwi_Rkvatfallback_Helper</class>
            </rkvatfallback>
			<customer>
				<rewrite>
					<data>Redkiwi_Rkvatfallback_Helper_Data</data>
				</rewrite>
			</customer>
        </helpers>
    </global>
</config>