<?xml version="1.0"?>
<config>
    <sections>
        <customer translate="label" module="customer">
            <class>separator-top</class>
            <label>Customer Configuration</label>
            <tab>customer</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <vat_services translate="label">
                    <label>VAT validation fallback services</label>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <magento_vies_validation translate="label">
                            <label>Use built in VIES validation</label>
                            <comment><![CDATA[This is the Magento built in validation at VIES; this often fails due to high demand.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </magento_vies_validation>
                        <vies_validation translate="label">
                            <label>Custom VIES validation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			                <comment><![CDATA[Unauthorized API, you might get blocked.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vies_validation>
                        <vatlayer_validation translate="label">
                            <label>vatlayer validation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Sign up for an account at <a href="http://vatlayer.com" target="_new">vatlayer.com</a>; up to 100 requests a month for free]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vatlayer_validation>
                        <vatlayer_accesskey>
                            <label>vatlayer accesskey</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <vatlayer_validation>1</vatlayer_validation>
                            </depends>
                        </vatlayer_accesskey>
                        <regex_validation translate="label">
                            <label>Regular expression validation</label>
                            <comment><![CDATA[This is a fallback option. Only enable when the other services are disabled. On error from other services, this will be forced.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </regex_validation>
                    </fields>
                </vat_services>
            </groups>
        </customer>
    </sections>
</config>
