<?xml version="1.0"?>
<config>
    <modules>
        <Redkiwi_Rkvatfallback>
            <version>0.3.0</version>
        </Redkiwi_Rkvatfallback>
    </modules>
	
    <global>
        <helpers>
            <rkvatfallback>
                <class>Redkiwi_Rkvatfallback_Helper</class>
            </rkvatfallback>
            <customer>
                <rewrite>
                    <data>Redkiwi_Rkvatfallback_Helper_Data</data>
                </rewrite>
            </customer>
        </helpers>
    </global>

    <default>
        <customer>
            <vat_services>
                <vies_validation>1</vies_validation>
                <isvat_validation>1</isvat_validation>
                <regex_validation>1</regex_validation>
            </vat_services>
        </customer>
    </default>
</config>
